//META{"name":"Cerulean Vidyah","description":"Current Version: V3.1.1.Cerulean","author":"Vie Lassiel","version":"3.1.1.Cerulean"}*//{}

/*
███████╗███████╗██████╗ ██╗   ██╗██╗     ███████╗ █████╗ ███╗   ██╗    ██╗   ██╗██╗██████╗ ██╗   ██╗ █████╗ ██╗  ██╗
██╔════╝██╔════╝██╔══██╗██║   ██║██║     ██╔════╝██╔══██╗████╗  ██║    ██║   ██║██║██╔══██╗╚██╗ ██╔╝██╔══██╗██║  ██║
██║     █████╗  ██████╔╝██║   ██║██║     █████╗  ███████║██╔██╗ ██║    ██║   ██║██║██║  ██║ ╚████╔╝ ███████║███████║
██║     ██╔══╝  ██╔══██╗██║   ██║██║     ██╔══╝  ██╔══██║██║╚██╗██║    ╚██╗ ██╔╝██║██║  ██║  ╚██╔╝  ██╔══██║██╔══██║
╚██████╗███████╗██║  ██║╚██████╔╝███████╗███████╗██║  ██║██║ ╚████║     ╚████╔╝ ██║██████╔╝   ██║   ██║  ██║██║  ██║
 ╚═════╝╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝      ╚═══╝  ╚═╝╚═════╝    ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝

██████╗ ██╗   ██╗       ██╗   ██╗██╗███████╗    ██╗      █████╗ ███████╗███████╗██╗███████╗██╗
██╔══██╗╚██╗ ██╔╝██╗    ██║   ██║██║██╔════╝    ██║     ██╔══██╗██╔════╝██╔════╝██║██╔════╝██║
██████╔╝ ╚████╔╝ ╚═╝    ██║   ██║██║█████╗      ██║     ███████║███████╗███████╗██║█████╗  ██║
██╔══██╗  ╚██╔╝  ██╗    ╚██╗ ██╔╝██║██╔══╝      ██║     ██╔══██║╚════██║╚════██║██║██╔══╝  ██║
██████╔╝   ██║   ╚═╝     ╚████╔╝ ██║███████╗    ███████╗██║  ██║███████║███████║██║███████╗███████╗
╚═════╝    ╚═╝            ╚═══╝  ╚═╝╚══════╝    ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝╚══════╝


Credits:
- Zerthox#6648 (him and his themes) for classes (and some css), copied some things like bg...
- HansAnonymous for Import. (temporary)
- https://github.com/jakeoid for animated emojis
- https://github.com/TriggerRimfire for avatar shadows
- https://github.com/SpoopySaitama for HLJS Colors

 ====================== IMPORT CSS ======================                                                                                  */
@import url(https://rawgit.com/HansAnonymous/BD-Themes-and-Plugins/master/Themes/Glossy-Cyan/Glossy-Cyan.css); /* --------------------------------------------------------------------------------------------------------------------------------------------

███████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ███████╗██████╗ ██╗████████╗███████╗
██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝██╔══██╗██║╚══██╔══╝██╔════╝
██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    █████╗  ██║  ██║██║   ██║   ███████╗
██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██╔══╝  ██║  ██║██║   ██║   ╚════██║
╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████╗██████╔╝██║   ██║   ███████║
 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝╚═════╝ ╚═╝   ╚═╝   ╚══════╝

--------------------------------------------------------------------------------------------------------------------------------------------
 ====================== BACKGROUND ======================                                                                                  */
:root {
    --GCB: url("https://puu.sh/xMPiR/1340ab4f92.jpg");
    cursor: url("https://puu.sh/xMT1l/6fd404bd8f.cur"), auto!important;
    --VPC: url("https://puu.sh/xMT2x/41af3687bd.cur"), auto!important;
    --VLC: url("http://www.rw-designer.com/cursor-extern.php?id=30049"), auto!important;
    --GC-version: "VioletVidyah V3.1.0 by Vie Lassiel";
    --main-color: #0c18ff;
    --hover-color: #013cbc;
    --background-blur: 0px;
    --background-brightness: 100%;
}
.app, #pubslayerroot .layer .ui-standard-sidebar-view {
    background: var(--GCB) no-repeat center center fixed;
    background-size: cover;
}
.contentSelectedText-3j5CXt {
    background-color: rgba(32, 51, 204,0.6);
    cursor: var(--VPC);
}
.contentHoveredText-2HYGIY {
   background-color: rgba(51, 62, 155,0.3);
   cursor: var(--VPC);
}
.theme-dark .message-group .comment .markup code.inline,
.theme-dark .message-group .comment .markup pre code {
   background-color: rgba(0,0,0,1)!important;
}
.ui-standard-sidebar-view .bda-slist li,
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
   background-color: rgba(130,133,201,0.28)!important;

}
/*.side-2nYO0F .item-3879bf,
#bd-settings-sidebar {
   background-color: rgba(166,130,201,0.3)!important;
}*/
#bd-settings-sidebar .ui-tab-bar-item:hover,
.side-2nYO0F .item-3879bf:hover {
   background-color: rgba(130,133,20,0.5)!important;
}
.formNotice-2tZsrh,
.itemDefaultSelected-1UAWLe {
   background-color: rgba(130,133,20,0.8)!important;
}
.nameCollapsed-3_ChMu,
.nameDefault-Lnjrwm,
.nameHovered-1YFSWq,
.nameHoveredCollapsed-2c-EHI,
.nameMuted-1n0LSj,
.nameUnread-WKlSv-,
.nameDefaultText-QoumjC,
.nameDefaultVoice-1swZoh,
.nameHoveredText-2FFqiz,
.nameHoveredVoice-TIoHRJ,
.nameLockedText-2fGz07,
.nameLockedVoice-wNOMNa,
.nameMutedText-1YDcP-,
.nameMutedVoice-26k4cP,
.nameSelectedText-32NDX5,
.nameSelectedVoice-XpjYTw,
.nameUnreadText-1pxldj,
.nameUnreadVoice-QK4gxH,
.wrapperDefaultText-3M3F1R,
.wrapperDefaultVoice-2ud9mj,
.wrapperHoveredText-1PA_Uk,
.wrapperHoveredVoice-3tbfNN,
.wrapperLockedText-Dsondf,
.wrapperLockedVoice-1XZJmE,
.wrapperMutedText-34VhKk,
.wrapperMutedText-34VhKk .wrapper-fDmxzK,
.wrapperMutedVoice-2BiLWu,
.wrapperSelectedText-31jJa8,
.wrapperSelectedVoice-1Q1ocJ,
.wrapperUnreadText-1MykVG,
.wrapperUnreadVoice-13F9Gg,
.channel-members .member,
.nameDefault-1I0lx8,
.nameHovered-28u_Fz,
.nameSpeaking-3ROx9q,
.avatarContainer-303pFz,
.userHovered-3tfm93,
.cursorPointer-3oKATS,
.plugin-controls,
.dv-btn,
.dv-panel,
.guilds-wrapper,
.wrapperHoveredVoice-3tbfNN,
.nameHoveredVoice-TIoHRJ,
.nameSelectedVoice-XpjYTw .name-2SL4ev .overflowEllipsis-3Rxxjf,
.contentSelectedVoice-gTtYM9,
.icon-3dhTrw:hover,
.header-toolbar .button:hover,
.header-toolbar,
.message-group .btn-option,
.message-group .btn-reaction,
.replyer,
.citar-btn,
.icon-3rMtHF {
   cursor: var(--VPC)!important;
}/*

--------------------------------------------------------------------------------------------------------------------------------------------
 ==================== MEMBERS AREA =====================
 background-color: rgba(49, 41, 58, 0.44);  Faded Purple Background                                                                        */
.channel-members h2 {
    color: var(--main-color)!important; /* Text Colour */
    background-color: rgba(0, 0, 0, 0.44); /* Background Colour */
    border-color: var(--hover-color)!important; /* Border Colour */

}/*

--------------------------------------------------------------------------------------------------------------------------------------------
 ============== LARGER AVATARS ===============
 border-radius: 50%
 background-size: cover !important;                                                                                                        */
.chat .avatar-large {
     width: 65px !important;
     height: 65px !important;
     border-radius: 5% !important;
}/*

--------------------------------------------------------------------------------------------------------------------------------------------
 ============== CLICKABLE PINNED MESSAGES ===============                                                                                   */
.messages-popout .message-group .sink-interactions.clickable,
.messages-popout .message-group .avatar-large,
.messages-popout .message-group h2 {
    pointer-events: none;
}/*

--------------------------------------------------------------------------------------------------------------------------------------------
 =============== Winter LOADING ANIMATION ===============                                                                                   */
:root {
        --load1: "OmNumYourFace.Violet";
        --load2: "Discord Theme";
        --load3: "By: Vie Lassiel";
}
